.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
}

#page
{
	margin-bottom: 5px;
	background: white;

}

#header
{
	margin: 0;
	padding: 0;

        background: #5E5E5E;
}

#content
{
    padding-top: 0px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        color: white;
}

#mainmenu
{
	background:#2A6CB6 repeat-x left top;
        height: 26px
}

#mainmenu ul
{
	padding:1px 20px 0px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color: white;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
        float: right;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: white;
	background-color:#1F528C;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/*Ohmel CSS mods*/

#search-div{
    background: #D79829;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#browse-div{
    padding-left: 110px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#index-content{
    background: #D8992A;
    text-align: center;
    border-radius: 0px;
}

#browse-div li{
    background: #727272;

}
#search-suggestions{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    background: #717171;
}

.inside-shadow{
    -webkit-box-shadow: inset 0px 0px 51px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 51px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 51px -6px rgba(0,0,0,0.75);
}

#statuses-div{
    text-align: center;
    background: #EFF4FA;
    padding: 10px;
}
.statuses-obj{
    text-align: center;
    margin-right: 5px;
    display: inline-block
}

#contents-div{
    text-align: center;
    background: #EFF4FA;
    padding: 10px;
}
.contents-obj{
    text-align: center;
    margin-right: 5px;
    display: inline-block
}
#statistics-div{
/*    text-align: center;*/
    background: #EFF4FA;
    padding: 10px;
}
.statistics-obj{
/*    text-align: center;*/
    margin-right: 5px;
    display: inline-block
}
#object-counters{
    background: #C9E0ED;
}

/* My own Css*/
.inline-div{
    display: inline-block;
    vertical-align: top;
}

.div-box{
}

/*Angular default styles*/
    
.animate-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
} 
@-webkit-keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}

.animate-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
} 
@-webkit-keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
